s=*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{

background:#07190F;

font-family:Poppins;

overflow-x:hidden;

}

.hero{

position:relative;

width:100%;

}

.hero img{

width:100%;

display:block;

}

.overlay{

position:absolute;

bottom:13%;

left:50%;

transform:translateX(-50%);

}

button{

background:transparent;

border:2px solid #D8A44D;

color:#D8A44D;

padding:16px 50px;

font-size:20px;

border-radius:14px;

cursor:pointer;

transition:.3s;

}

button:hover{

background:#D8A44D;

color:#07190F;

}

#menu{

background:#F8F3EB;

}

.category{

width:100%;

}

.category img{

width:100%;

display:block;

}